Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
  - оценка 2 и меньше - низкий рейтинг
  - оценка 4 и меньше - средний рейтинг
  - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
def movie_classifier(rating):
    """классифицирует фильмы по рейтингу"""
    if rating <= 2:
        return 'Low'
    if rating >= 2 and rating <= 4:
        return 'Medium'
    if rating > 4:
        return 'High'

ratings = pd.read_csv('ratings_1.csv')
ratings['class'] = ratings['rating'].apply(movie_classifier)
ratings.head(10)

   userId  movieId  rating   timestamp   class
0       1       31     2.5  1260759144  Medium
1       1     1029     3.0  1260759179  Medium
2       1     1061     3.0  1260759182  Medium
3       1     1129     2.0  1260759185     Low
4       1     1172     4.0  1260759205  Medium
5       1     1263     2.0  1260759151     Low
6       1     1287     2.0  1260759187     Low
7       1     1293     2.0  1260759148     Low
8       1     1339     3.5  1260759125  Medium
9       1     1343     2.0  1260759131     Low

**Задание 2**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [3]:
def geo_classifier(keyword):
    """выставляет географическую принадлежность определенному региону"""
    key_w = keyword.split(' ')
    for k_w in key_w:
        for k, v in geo_data.items():
            if k_w in v:
                return k
    return 'undefined'
            
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
keywords = pd.read_csv('keywords.csv')
keywords['region'] = keywords['keyword'].apply(geo_classifier)
keywords[keywords['region'].isin(['Центр', 'Северо-Запад', 'Дальний Восток'])].head(10)

                       keyword   shows          region
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад
1259                    москва  153050           Центр
1346           санкт петербург  144232    Северо-Запад
1396           гисметео москва  140279           Центр
1482          госуслуги москва  133061           Центр
1579                авито тула  126168           Центр

**Задание 3 (бонусное)**
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
  - для каждой строки пройдите по всем годам списка years
  - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
  - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [4]:
def production_year(title):
    """каждой строке из названия фильма выставляет год выпуска"""
    for year in year_list:
        if str(year) in title:
            return str(year)
    return '1900'

ratings = pd.read_csv('ratings_2.csv')
movies = pd.read_csv('movies.csv')
year_list = []
for i in range(1950, 2019):
    year_list.append(i)
movies['year'] = movies['title'].apply(production_year)
movies_rating = movies.merge(ratings, how='left')
movies_rating.groupby('year').mean()['rating'].sort_values(ascending = False)

year
1957    3.996580
1954    3.970365
1972    3.969146
1962    3.925539
1952    3.896432
          ...
1990    3.429585
2000    3.415536
1997    3.402396
2018    3.386874
1996    3.352208
Name: rating, Length: 70, dtype: float64