Домашнее задание к лекции "Базовые понятия статистики"
Обязательная часть
Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [1]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('horse_data.csv', header=None, na_values='?')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [28]:
df1 = df[[0, 1, 3, 4, 5, 6, 7, 12]].rename(
    {0: 'surgery?', 1: 'Age', 3: 'temperature', 4: 'pulse', 5: 'respiratory rate', 
     6: 'temperature of extremities', 7: 'peripheral pulse', 12: 'abdominal distension'}, axis=1)
for column in df1:
    pd.to_numeric(df1[column], errors= 'coerce', downcast = 'float')
df1

,surgery?,Age,temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,abdominal distension
0,2.0,1,38.5,66.0,28.0,3.0,3.0,4.0
1,1.0,1,39.2,88.0,20.0,NaN,NaN,2.0
2,2.0,1,38.3,40.0,24.0,1.0,1.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,1.0,4.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,NaN,NaN
296,2.0,1,37.2,72.0,24.0,3.0,2.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,3.0,3.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,3.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,NaN

In [41]:
print(df1.Age.mode()[0])

1

Вывод: В базе больше взрослых лошадей, чем молодых жеребят.

In [38]:
print(df1['surgery?'].mode()[0])

1.0

Вывод: Больше лошадей были прооперированны, чем вылечены без хирургического вмешательства

In [51]:
print(df1.groupby('surgery?').pulse.max())
print(df1.groupby('surgery?').pulse.min())

surgery?
1.0    184.0
2.0    150.0
Name: pulse, dtype: float64
surgery?
1.0    30.0
2.0    36.0
Name: pulse, dtype: float64

Вывод: У прооперированных лошадей пульс в более широком диапазоне от 30 до 184

In [30]:
print(df1.temperature.max())
print(df1.temperature.min())
print(df1.temperature.mean())
print(df1.temperature.mode()[0])

40.8
35.4
38.16791666666669
38.0

In [33]:
print(df1['temperature of extremities'].mode()[0])

3.0

In [34]:
print(df1['peripheral pulse'].mode()[0])

1.0

In [35]:
print(df1['abdominal distension'].mode()[0])

1.0

Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

Задание 3. Работа с пропусками
Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

Дополнительная часть (необязательная)
Выполнить задания 1-3 для всего набора данных.