In [1]:
import mysql.connector as sql 
con=sql.connect(host='localhost',user='root',passwd='')
if con.is_connected():
  print("Connection successful")
c=con.cursor()
c.execute("Create database School")
print("Your database successfully created.")
c.execute("Use School; ")
c.execute("Create table Class_12 (Sno int primary key, Name varchar(20), Class int, Fathers_name varchar(20), Percentage float); ")

print ("Table has been created")
con.commit()

Connection successful
Your database successfully created.
Table has been created

In [4]:
import mysql.connector as sql 
con=sql.connect(host='localhost',user='root',passwd='',database='Company')
if con.is_connected():
    print("Connection successful")
c=con.cursor()
# c.execute('Create table Employee_details(Emp_ID int primary key, Name varchar(20), DOB date, Gender char(1), Address varchar(30), Salary float)')
print ('table created')
con.commit()

c=con.cursor()
while True:
    Id=input("Enter the empIoyee ID: ")
    name=input("Enter the employee name: ")
    dob=input("Enter the employee DOB: ")
    gender=input("Enter the employee gender: ")
    address=input("Enter the employee address: ")
    sal=input("Enter the employee salary: ")
    Insert = ("Insert into Employee_details values (%s, '%s', '%s', '%s', '%s', %s); "% (Id, name, dob, gender, address, sal))
    c.execute(Insert)

    x=input("Do you want to in out more data?(y/n)  ")
    if x=="n" or x=="N":
        break
print("Employee details successfully filled!")
con.commit()

Connection successful
table created
Enter the empIoyee ID: 1023
Enter the employee name: John Sharma
Enter the employee DOB: 1980-01-03
Enter the employee gender: M
Enter the employee address: 9-6, Whitechapel Road, London
Enter the employee salary: 5000
Do you want to in out more data?(y/n)  y
Enter the empIoyee ID: 1007
Enter the employee name: Archna Gupta
Enter the employee DOB: 1985-05-05
Enter the employee gender: F
Enter the employee address: 60-8, Trafalgar Square, London
Enter the employee salary: 4700
Do you want to in out more data?(y/n)  n
Employee details successfully filled!

In [16]:
import mysql.connector as sql 
con=sql.connect(host='localhost',user='root',passwd='',database='Company')
if con.is_connected():
  print("Connection successful")
c=con.cursor()

def searchEmp():
    while True:
        x = input("Enter Employee number to search :")
        query=("select * from Employee_details where Emp_ID=%s; "% (x))
        c.execute(query)
        results = c.fetchall()
        if c.rowcount == 0:
            print("Sorry, No data fetched matching your criteria")
        else:
            for row in results:
                print(row)
        y=input("Do you want to in out more data?(y/n)  ")
        print()
        if y=="n" or y=="N":
            break

searchEmp()

Connection successful
Enter Employee number to search :1007
(1007, 'Archna Gupta', datetime.date(1985, 5, 5), 'F', '60-8, Trafalgar Square, London', 4700.0)
Do you want to in out more data?(y/n)  n