Домашнее задание к лекции "Базовые понятия статистики"
Обязательная часть
Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('horse_data.csv', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2,1,530101,38.50,66,28,3,3,?,2,...,45.00,8.40,?,?,2,2,11300,0,0,2
1,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
2,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
3,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
4,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2

In [48]:
df1 = df[[0, 1, 3, 4, 5, 6, 7, 12]]
df2 = df1.rename({0: 'surgery?', 1: 'Age', 3: 'temperature', 4: 'pulse', 5: 'respiratory rate', 6: 'temperature of extremities', 7: 'peripheral pulse', 12: 'abdominal distension'}, axis=1)
df2

,surgery?,Age,temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,abdominal distension
0,2,1,38.50,66,28,3,3,4
1,1,1,39.2,88,20,?,?,2
2,2,1,38.30,40,24,1,1,1
3,1,9,39.10,164,84,4,1,4
4,2,1,37.30,104,35,?,?,?
...,...,...,...,...,...,...,...,...
295,1,1,?,120,70,4,?,?
296,2,1,37.20,72,24,3,2,3
297,1,1,37.50,72,30,4,3,3
298,1,1,36.50,100,24,3,3,3
299,1,1,37.2,40,20,?,?,?

In [38]:
df2.describe()

              Age
count  300.000000
mean     1.640000
std      2.173972
min      1.000000
25%      1.000000
50%      1.000000
75%      1.000000
max      9.000000

In [39]:
print (df2.dtypes)

surgery?                      object
Age                            int64
temperature                   object
pulse                         object
respiratory rate              object
temperature of extremities    object
peripheral pulse              object
abdominal distension          object
dtype: object

In [40]:
print (df2.applymap(type))

          surgery?            Age    temperature          pulse  \
0    <class 'str'>  <class 'int'>  <class 'str'>  <class 'str'>
1    <class 'str'>  <class 'int'>  <class 'str'>  <class 'str'>
2    <class 'str'>  <class 'int'>  <class 'str'>  <class 'str'>
3    <class 'str'>  <class 'int'>  <class 'str'>  <class 'str'>
4    <class 'str'>  <class 'int'>  <class 'str'>  <class 'str'>
..             ...            ...            ...            ...
295  <class 'str'>  <class 'int'>  <class 'str'>  <class 'str'>
296  <class 'str'>  <class 'int'>  <class 'str'>  <class 'str'>
297  <class 'str'>  <class 'int'>  <class 'str'>  <class 'str'>
298  <class 'str'>  <class 'int'>  <class 'str'>  <class 'str'>
299  <class 'str'>  <class 'int'>  <class 'str'>  <class 'str'>

    respiratory rate temperature of extremities peripheral pulse  \
0      <class 'str'>              <class 'str'>    <class 'str'>
1      <class 'str'>              <class 'str'>    <class 'str'>
2      <class 'str'>              <class 'str'>    <class 'str'>
3      <class 'str'>              <class 'str'>    <class 'str'>
4      <class 'str'>              <class 'str'>    <class 'str'>
..               ...                        ...              ...
295    <class 'str'>              <class 'str'>    <class 'str'>
296    <class 'str'>              <class 'str'>    <class 'str'>
297    <class 'str'>              <class 'str'>    <class 'str'>
298    <class 'str'>              <class 'str'>    <class 'str'>
299    <class 'str'>              <class 'str'>    <class 'str'>

    abdominal distension
0          <class 'str'>
1          <class 'str'>
2          <class 'str'>
3          <class 'str'>
4          <class 'str'>
..                   ...
295        <class 'str'>
296        <class 'str'>
297        <class 'str'>
298        <class 'str'>
299        <class 'str'>

[300 rows x 8 columns]

In [37]:
print(df2.pulse.max())
print(df2.pulse.min())
# print(df2.pulse.mean())
print(df2.pulse.mode()[0])
print(int(df2.pulse.median()))

?
100
48

TypeError: could not convert string to float: '?'

In [24]:
print(df2.temperature.max())
print(df2.temperature.min())
# print(df2.temperature.mean())
print(df2.temperature.mode()[0])

?
35.4
?

In [26]:
print(df2['surgery?'].mode()[0])

1

In [29]:
print(df2.Age.mode()[0])

1

In [31]:
print(df2['temperature of extremities'].mode()[0])

3

In [33]:
print(df2['peripheral pulse'].mode()[0])

1

In [34]:
print(df2['abdominal distension'].mode()[0])

1

Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

Задание 3. Работа с пропусками
Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

Дополнительная часть (необязательная)
Выполнить задания 1-3 для всего набора данных.