Домашнее задание к лекции "Базовые понятия статистики"

Обязательная часть

Будем осуществлять работу с непростым набором данных о состоянии здоровья лошадей, испытывающих кишечные колики.

Задание 1. Базовое изучение
Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('horse_data.csv', header=None, na_values='?')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [3]:
df1 = df[[0, 1, 3, 4, 5, 6, 7, 12]].rename(
    {0: 'surgery?', 1: 'Age', 3: 'temperature', 4: 'pulse', 5: 'respiratory rate', 
     6: 'temperature of extremities', 7: 'peripheral pulse', 12: 'abdominal distension'}, axis=1)
for column in df1:
    pd.to_numeric(df1[column], errors= 'coerce', downcast = 'float')
df1

,surgery?,Age,temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,abdominal distension
0,2.0,1,38.5,66.0,28.0,3.0,3.0,4.0
1,1.0,1,39.2,88.0,20.0,NaN,NaN,2.0
2,2.0,1,38.3,40.0,24.0,1.0,1.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,1.0,4.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,NaN,NaN
296,2.0,1,37.2,72.0,24.0,3.0,2.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,3.0,3.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,3.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,NaN

In [4]:
df1.describe()

,surgery?,Age,temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,abdominal distension
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,231.000000,244.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.017316,2.266393
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.042428,1.065131
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,2.000000,2.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,3.000000,3.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,4.000000,4.000000

#### Вывод: Уже сразу видно наличие некоторых выбросов:
#### 1. Значение 9 в столбце возраста ( Возраст может быть двух вариантов 1-взрослая лошадь, 2-жеребенок )
#### 2. Значение пульса 184 ( 30-40 - норма пульса для взрослых лошадей )

In [5]:
print(df1.Age.mode()[0])

1

#### Вывод: В базе больше взрослых лошадей, чем молодых жеребят.

In [6]:
print(df1['surgery?'].mode()[0])

1.0

#### Вывод: Больше лошадей были прооперированны, чем пролечены без хирургического вмешательства

In [7]:
print(df1.temperature.max())
print(df1.temperature.min())
print(df1.temperature.mean())
print(df1.temperature.std())

40.8
35.4
38.16791666666669
0.7322886641121578

#### Вывод: Показатели температуры похожи на правдоподобные, есть надежда, что выбросов в этом столбце нет.

In [8]:
print(df1.groupby('surgery?').pulse.max())
print(df1.groupby('surgery?').pulse.min())

surgery?
1.0    184.0
2.0    150.0
Name: pulse, dtype: float64
surgery?
1.0    30.0
2.0    36.0
Name: pulse, dtype: float64

#### Вывод: 30-40 - норма пульса для взрослых лошадей, 150-184 похоже на выбросы.

In [9]:
print(df1.groupby('surgery?').pulse.median())

surgery?
1.0    70.0
2.0    56.0
Name: pulse, dtype: float64

#### Вывод: все таки пульс у больных лошадей повышен

In [10]:
print(df1['respiratory rate'].max())
print(df1['respiratory rate'].min())
print(df1['respiratory rate'].median())
print(df1['respiratory rate'].std())

96.0
8.0
24.5
17.642231385134664

#### Вывод: полезность этого показателя сомнительна из-за больших колебаний (нормальная оценка от 8 до 10)

In [11]:
print(df1['temperature of extremities'].mode()[0])
print(df1['temperature of extremities'].median())

3.0
3.0

#### Вывод: Прохладные конечности указывают на возможный шок, все таки это база лошадей с проблемами со здоровьем.

In [12]:
print(df1['peripheral pulse'].mode()[0])
print(df1['peripheral pulse'].median())

1.0
2.0

#### При этом периферический пульс у большинства лошадей в норме.

In [13]:
print(df1['abdominal distension'].mode()[0])
print(df1['abdominal distension'].median())

1.0
2.0

#### Вывод: У большинства лошадей нет вздутия живота, либо оно не значительно.

In [14]:
print(df1[df1['abdominal distension'] == 4].groupby('surgery?')['abdominal distension'].count())

surgery?
1.0    27
2.0    11
Name: abdominal distension, dtype: int64

#### Вывод: При этом 38 лошадям, вероятно, потребуется хирургическая операция (27-ми повторная)

Задание 2. Работа с выбросами
В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [15]:
print(df1[df1.Age > 2].count())

surgery?                      24
Age                           24
temperature                   20
pulse                         22
respiratory rate              20
temperature of extremities    16
peripheral pulse              14
abdominal distension          15
dtype: int64

#### Вывод: Т.к. значение возраста может принимать только 2 значения (1-взрослая лошадь, 2-жеребенок), то все остальные значения будем считать ошибкой ввода. Таких выбросов 24 из 300 записей, т.к. ни по каким другим параметрам мы не можем восстановить правильные значения, то придется их просто отбросить.

In [16]:
q1 = df1.pulse.quantile(0.25)
q3 = df1.pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df1[df1.pulse.between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
remove_outliers

,surgery?,Age,temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,abdominal distension
130,1.0,1,37.8,30.0,12.0,NaN,NaN,NaN
232,1.0,1,38.5,30.0,18.0,NaN,NaN,NaN
203,2.0,1,37.2,36.0,9.0,1.0,1.0,1.0
276,1.0,1,38.0,36.0,16.0,3.0,1.0,2.0
242,1.0,1,NaN,36.0,32.0,1.0,1.0,3.0
...,...,...,...,...,...,...,...,...
148,1.0,1,38.3,132.0,NaN,NaN,3.0,2.0
135,1.0,9,38.1,136.0,48.0,3.0,3.0,3.0
44,1.0,1,35.4,140.0,24.0,3.0,3.0,NaN
103,1.0,9,38.0,140.0,68.0,1.0,1.0,2.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,NaN

In [17]:
print(remove_outliers.pulse.mean())
print(remove_outliers.pulse.median())

70.25830258302582
64.0

In [18]:
print(df[df[4] > 146])

      0   1        2     3      4     5    6    7    8    9   ...    18   19  \
3    1.0   9  5290409  39.1  164.0  84.0  4.0  1.0  6.0  2.0  ...  48.0  7.2
41   2.0   9  5288249  39.0  150.0  72.0  NaN  NaN  NaN  NaN  ...  47.0  8.5
55   1.0   9  5282839  38.6  160.0  20.0  3.0  NaN  5.0  1.0  ...  38.0  NaN
255  1.0   9  5294539  38.8  184.0  84.0  1.0  NaN  1.0  1.0  ...  33.0  3.3
275  1.0   9  5297159  38.8  150.0  50.0  1.0  3.0  6.0  2.0  ...  50.0  6.2

      20   21   22  23    24  25  26  27
3    3.0  5.3  2.0   1  2208   0   0   1
41   NaN  0.1  1.0   1  9400   0   0   1
55   2.0  NaN  2.0   1  7111   0   0   1
255  NaN  NaN  2.0   1  7111   0   0   2
275  NaN  NaN  2.0   1  4207   0   0   2

[5 rows x 28 columns]

#### Вывод: При расчете выбросов по столбцу Пульса через межкваритльный размах получили 5 выбросов. Вполне вероятно, что это не выбросы и эти лошади действительно настолько больны, что у них такой высокий пульс. Но т.к. у этих же 5 записей неправильное значение столбца Возраст, у некоторых из них нет значений во многих столбцах, и большой разброс показателей в других столбцах, можно просто отбросить эти 5 строк из 300 строк базы.

Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   temperature                 240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   peripheral pulse            231 non-null    float64
 7   abdominal distension        244 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [20]:
df1.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    139 non-null    float64
 1   Age                         139 non-null    int64
 2   temperature                 139 non-null    float64
 3   pulse                       139 non-null    float64
 4   respiratory rate            139 non-null    float64
 5   temperature of extremities  139 non-null    float64
 6   peripheral pulse            139 non-null    float64
 7   abdominal distension        139 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 9.8 KB

#### Вывод: Просто игнорировать все строки с пропусками нельзя, остается 139 из 300 строк, теряем более половины информации.

In [21]:
for col in df1.columns:
    pct_missing = df1[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery? - 0.3%
Age - 0.0%
temperature - 20.0%
pulse - 8.0%
respiratory rate - 19.3%
temperature of extremities - 18.7%
peripheral pulse - 23.0%
abdominal distension - 18.7%

#### surgery? - 0.3% - пропуск в одной строке, можно ее отбросить, мы не можем угадать прооперирована лошадь или нет.
#### Age - 0.0% - нет пропусков.
#### temperature - 20.0% - пропусков много, , заменим их медианой.
#### pulse - 8.0% - пропуски есть, заменим их медианой.
#### respiratory rate - 19.3% - пропусков много, заменим их медианой.
#### temperature of extremities - 18.7% - пропусков много, заменим модой.
#### peripheral pulse - 23.0% - пропусков много, , заменим их медианой.
#### abdominal distension - 18.7% - пропусков много, заменим их умеренным показателем - 3.

In [22]:
df2 = df1[~df1['surgery?'].isnull()] 
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         299 non-null    int64
 2   temperature                 239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  243 non-null    float64
 6   peripheral pulse            230 non-null    float64
 7   abdominal distension        243 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 21.0 KB

In [24]:
df2.temperature.fillna(df2.temperature.median(), inplace=True)
df2.pulse.fillna(df2.pulse.median(), inplace=True)
df2['respiratory rate'].fillna(df2['respiratory rate'].median(), inplace=True)
df2['temperature of extremities'].fillna(df2['temperature of extremities'].mode()[0], inplace=True)
df2['peripheral pulse'].fillna(df2['peripheral pulse'].median(), inplace=True)
df2['abdominal distension'].fillna(df2['abdominal distension'] == 3, inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         299 non-null    int64
 2   temperature                 299 non-null    float64
 3   pulse                       299 non-null    float64
 4   respiratory rate            299 non-null    float64
 5   temperature of extremities  299 non-null    float64
 6   peripheral pulse            299 non-null    float64
 7   abdominal distension        299 non-null    object
dtypes: float64(6), int64(1), object(1)
memory usage: 21.0+ KB