# Что сегодня сделаем
Библиотеку для получения курсов валют в 2 строки

In [1]:
from libs.exchange import Rate

In [2]:
Rate().usd()

71.231

In [3]:
Rate('full').AZN()

{'ID': 'R01020A',
 'NumCode': '944',
 'CharCode': 'AZN',
 'Nominal': 1,
 'Name': 'Азербайджанский манат',
 'Value': 41.9253,
 'Previous': 41.6715}

### Задача
Дана строка со значениями, которые разделены запятыми:

In [4]:
line = '2019-07-01,organic,4293'

Напишите функцию column_count, которая возвращает число столбцов в такой строке

In [6]:
len('2019-07-01,organic,4293'.split(','))

3

In [17]:
def column_count(line, count_empty_line=True, separator=','):
    if count_empty_line:
        return len(line.split(separator))
    else:
        if line == '':
            return 0
        else:
            return len(line.split(separator))

In [18]:
column_count('2019-07-01,organic,4293')

3

In [19]:
column_count('2019-07-01')

1

In [20]:
column_count('', count_empty_line=True)

1

In [21]:
column_count('', count_empty_line=False)

0

In [22]:
column_count('2019-07-01;organic;4293', separator=';')

3

# Классы
Пример использования переменной в разных методах

In [11]:
class AnyName:
    def method_1(self):
        self.currency = 'usd'
    
    def method_2(self):
        print(self.currency)

In [12]:
AnyName()

In [13]:
a = AnyName()

In [14]:
a

In [30]:
a.method_1()

In [35]:
a.currency = 'eur'

In [36]:
a.currency

'eur'

In [32]:
b = AnyName()

In [33]:
b.method_1()

In [37]:
b.currency

'usd'

In [ ]:
a.currency

In [38]:
a.method_2()

eur

In [39]:
b.method_2()

usd

### Метод __init__

In [41]:
# метод __init__ выполняется при вызове класса

class Rate:
    def __init__(self):
        self.format = 'value'
        print(self.format)

In [42]:
r = Rate()

value

In [43]:
r.format

'value'

### Класс для курсов валют

In [44]:
class Rate:
    def __init__(self):
        self.format = 'value'
    
    def show_current_format(self):
        return self.format

In [45]:
r = Rate()

In [46]:
r.format

'value'

In [47]:
r.show_current_format()

'value'

Пример инициализации со значением переменной

In [48]:
class Rate:
    def __init__(self, format_):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [51]:
r = Rate(format_='value123')

In [52]:
r.show_current_format()

'value123'

Или сразу со значением по умолчанию

In [53]:
class Rate:
    def __init__(self, format_='value'):
        self.format = format_
    
    def show_current_format(self):
        return self.format

In [54]:
r = Rate()
r.show_current_format()

'value'

In [55]:
r_full = Rate(format_='full')
r_full.show_current_format()

'full'

In [56]:
# значения переменных класса можно менять

r.format = 'full_123'
r.show_current_format()

'full_123'

### Упражнение
Создайте класс сотрудника Employee. При инициализации класса задается имя сотрудника name и его текущая зарплата salary. Напишите следующие методы:
1. Метод up, который увеличивает зарплату сотрудника на 100
2. Метод print, который выводит на экран текущую зарплату сотрудника в формате "Сотрудник Иван, зарплата 100"

In [82]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    
    def up(self): 
        self.salary += 100
    
    def print(self):
        print(f'Сотрудник {self.name}, зарплата {self.salary}')

In [83]:
ivan = Employee(name='Иван', salary=50)

In [84]:
elena = Employee(name='Елена', salary=40)

In [100]:
elena.grade = 1

In [101]:
elena.grade

1

In [102]:
ivan.grade

AttributeError: 'Employee' object has no attribute 'grade'

In [60]:
ivan.name, ivan.salary

('Иван', 50)

In [61]:
elena.name, elena.salary

('Елена', 40)

In [90]:
ivan.up()
ivan.salary

650

In [98]:
elena.up()
elena.salary

740

In [91]:
ivan.print()

Сотрудник Иван, зарплата 650

In [99]:
elena.print()

Сотрудник Елена, зарплата 740

### Полная версия класса

In [2]:
import requests

In [3]:
class Rate:
    """
    
    """
    def __init__(self, format_='value'):
        self.format = format_
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        self.r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return self.r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в двух вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        Rate('value').make_format('EUR')
        79.4966
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                return response[currency]['Value']
        
        return 'Error'
    
    def eur(self):
        """Возвращает курс евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает курс доллара на сегодня в формате self.format"""
        return self.make_format('USD')
    
    def brl(self):
        """Возвращает курс бразильского реала на сегодня в формате self.format"""
        return self.make_format('BRL')

In [4]:
r = Rate(format_='value')

In [5]:
r.brl()

13.7373

In [6]:
r.usd()

71.5974

In [7]:
r.usd()

71.5974

In [8]:
r = Rate()

In [9]:
r.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 50.6695,
  'Previous': 50.7669},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 42.1409,
  'Previous': 41.7675},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 91.1864,
  'Previous': 90.2224},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 14.738,
  'Previous': 14.6165},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 29.9734,
  'Previous': 29.7764},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 42.4885,
  'Previous': 42.0322},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 13.7373,
  'Previous': 13.861},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 23.9028,
  'Previous': 23.6674},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 92.3647,
  'Previous': 91.5451},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 1,
  'Name': 'Датская крона',
  'Value': 11.166,
  'Previous': 11.0438},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 71.5974,
  'Previous': 70.963},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 83.1031,
  'Previous': 82.1893},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 95.6924,
  'Previous': 94.9319},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 17.2761,
  'Previous': 17.1707},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 53.2917,
  'Previous': 53.0525},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 93.5595,
  'Previous': 91.8615},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 1,
  'Name': 'Китайский юань',
  'Value': 10.2033,
  'Previous': 10.1424},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 42.7192,
  'Previous': 42.0397},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 77.4805,
  'Previous': 77.8035},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 18.828,
  'Previous': 18.6269},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 17.1936,
  'Previous': 17.0032},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 99.9564,
  'Previous': 99.048},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 51.6688,
  'Previous': 51.3035},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 69.4615,
  'Previous': 68.846},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 10.4578,
  'Previous': 10.3626},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 20.4857,
  'Previous': 20.3041},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 70.0836,
  'Previous': 69.5008},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 25.8286,
  'Previous': 25.4381},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 31.5769,
  'Previous': 31.242},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 80.7623,
  'Previous': 80.2032},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 77.3524,
  'Previous': 76.3947},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 42.6617,
  'Previous': 43.1011},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 59.4996,
  'Previous': 59.3113},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 67.3446,
  'Previous': 66.2123}}

Документация необходима почти всем методам

In [10]:
?r.exchange_rates

# Наследование

Разработчикам финансового департамента помимо курса надо работать с кодами валют. Как сохранить сохранить разработку класса Rate у нас, а полезные функции передать финансистам?

In [113]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')

Теперь классу CurrencyCodes доступны все методы класса Rate. Можем продолжать разработку в нужном направлении.

In [114]:
cc = CurrencyCodes()

In [115]:
CurrencyCodes().usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 71.231,
 'Previous': 70.7998}

Допишем в класс что-нибудь свое новенькое

In [116]:
class CurrencyCodes(Rate):
    def __init__(self):
        super().__init__(format_='full')
    
    def currency_id(self, currency):
        """Получение идентификатора валюты"""
        return self.make_format(currency)['ID']

In [117]:
currency = CurrencyCodes()

In [118]:
currency.currency_id('USD')

'R01235'

# Система повышения сотрудников
Пригодится для домашнего задания

In [119]:
class Employee:
    def __init__(self, name, seniority):
        self.name = name
        self.seniority = seniority
        
        self.grade = 1
    
    def grade_up(self):
        """Повышает уровень сотрудника"""
        self.grade += 1
    
    def publish_grade(self):
        """Публикация результатов аккредитации сотрудников"""
        print(self.name, self.grade)
    
    def check_if_it_is_time_for_upgrade(self):
        pass

In [120]:
class Developer(Employee):
    def __init__(self, name, seniority):
        super().__init__(name, seniority)
    
    def check_if_it_is_time_for_upgrade(self):
        # для каждой аккредитации увеличиваем счетчик на 1
        # пока считаем, что все разработчики проходят аккредитацию
        self.seniority += 1
        
        # условие повышения сотрудника из презентации
        if self.seniority % 5 == 0:
            self.grade_up()
        
        # публикация результатов
        return self.publish_grade()

In [121]:
# проверяем как работает система повышения сотрудников на примере отдела разработки

# разработчик Александр только что пришел в компанию
alex = Developer('Александр', 0)

In [122]:
for i in range(20):
    alex.check_if_it_is_time_for_upgrade()

Александр 1
Александр 1
Александр 1
Александр 1
Александр 2
Александр 2
Александр 2
Александр 2
Александр 2
Александр 3
Александр 3
Александр 3
Александр 3
Александр 3
Александр 4
Александр 4
Александр 4
Александр 4
Александр 4
Александр 5

# Домашнее задание задача 3

Напишите класс Designer, который учитывает количество международных премий для дизайнеров (из презентации: "Повышение на 1 грейд за каждые 7 баллов. Получение международной премии – это +2 балла"). Считайте, что при выходе на работу сотрудник уже имеет две премии и их количество не меняется со стажем (конечно если хотите это можно вручную менять). Выполните проверку для 20 аккредитаций дизайнера Елены.

Для проверки используйте код:

In [ ]:
elena = Designer('Елена', seniority=0, awards=2)

In [ ]:
for i in range(20):
    elena.check_if_it_is_time_for_upgrade()

# Импорт классов и функций

In [ ]:
from datetime.py import timedelta

In [ ]:
from libs.exchange import my_sum

In [ ]:
my_sum(1, 2)

In [123]:
from libs.exchange import Rate

In [124]:
Rate().AZN()

41.9253

In [ ]:
# такой способ импорта крайне не рекомендуется
from libs.exchange import *

Если библиотека лежит в произвольной папке

In [ ]:
import datetime.py

In [125]:
import sys

In [126]:
sys.path

['/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8',
 '/Users/kbashevoy/anaconda3/lib/python37.zip',
 '/Users/kbashevoy/anaconda3/lib/python3.7',
 '/Users/kbashevoy/anaconda3/lib/python3.7/lib-dynload',
 '',
 '/Users/kbashevoy/.local/lib/python3.7/site-packages',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages/aeosa',
 '/Users/kbashevoy/anaconda3/lib/python3.7/site-packages/IPython/extensions',
 '/Users/kbashevoy/.ipython']

In [ ]:
import sys
sys.path.append('адрес_папки_с_файлами')

In [127]:
# пример

import sys
sys.path.append('/Users/kbashevoy/Desktop/Нетология/Занятия/Занятие 8/libs')

In [128]:
from exchange import my_sum

In [129]:
my_sum(3, 3)

6