# Простые типы данных

In [1]:
my_integer = 10
type(my_integer)

int

In [2]:
my_float = 5.5
type(my_float)

float

In [4]:
my_string = 'Hello World!'
my_string_2 = "Hello World"
type(my_string_2)

str

In [6]:
my_bool = True
# my_bool = False
type(my_bool)

bool

In [7]:
x = 5
y = 1
type(x > y)

bool

In [8]:
# преобразование типов
salary = 1000
print('Ваша годовая зарплата составляет ' + salary + ' условных единиц')

TypeError: can only concatenate str (not "int") to str

In [10]:
print('Ваша годовая зарплата составляет ', salary, ' условных единиц')

Ваша годовая зарплата составляет  1000  условных единиц

In [21]:
# неявное преобразование типов
# print(20 / 5.2)
print(5 + False)

# round(5.235235, 0)

5

## Строки

In [22]:
my_string = 'Hello World!'
'Hi, ' + 'Oleg'

'Hi, Oleg'

In [23]:
my_string.upper()

'HELLO WORLD!'

In [24]:
my_string.lower()

'hello world!'

In [25]:
my_string.capitalize()

'Hello world!'

In [30]:
'my_string'.title()

'Dfhdfhdfh'

In [27]:
my_string.replace('Hello', 'Goodbye')

'Goodbye World!'

In [29]:
len(my_string)

12

In [28]:
my_string

'Hello World!'

## f-строки

In [43]:
name = 'oleg'
lang = 346346436
t = f'{{}}Hello, my name is {name.capitalize()}, i know {lang} a bit'
print(t)
# print(type(t))

{}Hello, my name is Oleg, i know 346346436 a bit

## Индексация и срезы

In [44]:
my_string = 'Hello World'

In [59]:
my_string[-4]

'o'

In [46]:
my_string[-4]

'o'

In [50]:
my_string[0:5]
my_string[:5]

'Hello'

In [52]:
my_string[100]

IndexError: string index out of range

In [53]:
my_string = 'Hello World'
my_string[0:8:2]

'HloW'

In [54]:
my_string[6:]

'World'

In [55]:
my_string[:5]

'Hello'

In [58]:
my_string[::2]

'HloWrd'

In [ ]:
my_string[:5]

In [63]:
my_string[::-1]

'dlroW olleH'

## Упражнение
Выделите только время из даты следующего формата

In [71]:
date = '2019-08-27T23:59:00.932'

date[11:19]

'23:59:00'

## Проверка на вхождение элемента в объект

In [76]:
my_string = 'Hello World'
target_string = 'World'
if target_string not in my_string:
    print('found!')
else:
    print('not found')

not found

In [78]:
target_string not in my_string

False

# Списки

In [79]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [80]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))

<class 'list'>
<class 'list'>
<class 'list'>

In [81]:
# индексация элементов в списке
print(month_list[0])
print(month_list[-1])
print(income_by_months[-4])

Jan
Sep
['Jun', 13000]

In [82]:
# срезы
print(income_by_months[0:2])
print('--------------')
print(income_by_months[-8:-6])
print('--------------')
print(income_by_months[2:])
print('--------------')
print(income_by_months[:3])

[['Jan', 13000], ['Feb', 14000]]
--------------
[['Feb', 14000], ['Mar', 14300]]
--------------
[['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
--------------
[['Jan', 13000], ['Feb', 14000], ['Mar', 14300]]

In [99]:
# можно обращаться к любому уровню вложенности
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]
income_by_months[1:][0][1]

14000

In [100]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

[['Jan', 13100], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [101]:
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [102]:
my_string = 'Hello World'
my_string[0] = 'h'

TypeError: 'str' object does not support item assignment

In [103]:
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

[['Jan', 13200], ['Feb', 13900], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300], ['Nov', 15400], ['Dec', 17000]]

## Распаковка списков

In [104]:
my_list = ['первый', 'второй', 'третий']
first = my_list[0]
second = my_list[1]
first

'первый'

In [108]:
first, second, third, dfhdh = ['первый', 'второй', 'третий']

ValueError: not enough values to unpack (expected 4, got 3)

In [110]:
# когда число элементов неизвестно
first, *other = ['первый', 'второй', 'третий', 'dfhdfh', 'dfhdfh']
print(first) 
print(other)

первый
['второй', 'третий', 'dfhdfh', 'dfhdfh']

In [111]:
first, *other, last =  ['первый', 'второй', 'третий', 'iuguiyg']

In [112]:
first, last

('первый', 'iuguiyg')

In [113]:
other

['второй', 'третий']

## Операции со списками

In [114]:
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Sep', 15300]]

In [115]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200]]

In [116]:
# удаляем элемент по значению
month_list.remove('Sep')
print(month_list)

['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug']

In [117]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

[['Jan', 13200],
 ['Feb', 13900],
 ['Mar', 14300],
 ['Apr', 15000],
 ['May', 13800],
 ['Jun', 13000],
 ['Jul', 14900],
 ['Aug', 15200],
 ['Dec', 17000]]

In [118]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

In [121]:
# считаем количество вхождений элемента в список
print(income_list)
income_list.count(346643)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

0

In [124]:
# узнаем индекс элемента в списка (только первое вхождение!)
print(income_list)
income_list.index(13000)
income_list.index(13000, 1)

[13000, 14000, 1111111, 14300, 15000, 13800, 13000, 14900, 15200, 15300]

6

In [125]:
# разворачиваем список
month_list.reverse()
month_list

['Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan']

In [126]:
# узнаем длину списка
len(income_list)

10

In [129]:
# сумма элементов
sum(income_list)

1239611

In [130]:
# максимальный элемент элементов
max(income_list)

1111111

In [131]:
# минимальный элемент элементов
min(income_list)

13000

In [132]:
# сортировка по возрастанию
sorted(income_list)

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300, 1111111]

In [133]:
# изменить порядок сортировки
sorted(income_list, reverse=True)

[1111111, 15300, 15200, 15000, 14900, 14300, 14000, 13800, 13000, 13000]

In [134]:
income_list.sort()

In [135]:
income_list

[13000, 13000, 13800, 14000, 14300, 14900, 15000, 15200, 15300, 1111111]

In [137]:
my_list = [1, 2, 'dfhdfh']
sorted(my_list)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
# а это сортировка строк по алфавиту
sorted(month_list)

In [ ]:
sorted([11, 235, 4563, 'ddhgdfh', 'dfhdh'])

In [ ]:
deleted = month_list.pop()
deleted

In [ ]:
print(month_list.sort())
print(month_list)

In [ ]:
print(sorted(month_list, reverse=True))
print(month_list)

## Изменение списков

В примере ниже переменная a и b на самом деле указывают на один и тот же объект. В результате, при добавлении в b очередного элемента этот элемент добавляется и в исходном листе a

In [138]:
a = [1, 2, 3]
b = a

In [139]:
b.append(4)
f'{a} - лежит в a'

'[1, 2, 3, 4] - лежит в a'

In [140]:
id(a), id(b)

(2180193651528, 2180193651528)

In [146]:
# создаем копию объекта
a = [1, 2, 3]
b = list(a)
b.append(4)
print(a)
print(b)
id(a), id(b)

[1, 2, 3]
[1, 2, 3, 4]

(2180193488648, 2180193438984)

Используем модуль copy

In [142]:
import copy

In [143]:
a = [1, 2, 3]
b = copy.copy(a)

In [144]:
id(a), id(b)

(2180193466632, 2180193436872)

In [145]:
b.append(4)
print(f'a = {a}')

print(f'b = {b}')

a = [1, 2, 3]
b = [1, 2, 3, 4]

## Списки и строки

In [152]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт,"

In [153]:
# преобразование строки в список (например, из CSV-файла)
queries_string.split(',')

['смотреть сериалы онлайн',
 'новости спорта',
 'афиша кино',
 'курс доллара',
 'сериалы этим летом',
 'курс по питону',
 'сериалы про спорт',
 '']

In [151]:
# Преобразование списка в строку

';'.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])

'Столбец 1;Столбец 2;Столбец 3'

In [156]:
# проверка вхождения элемента в список:

# 'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

False

# Tuple (кортежи)

In [157]:
my_list = [400, 200, 300]
my_tuple = tuple(my_list)
sorted(my_tuple)

[200, 300, 400]

In [158]:
salary_tuple = (1000, 1200, 1300, 900, 800)
type(salary_tuple)
type(list(salary_tuple))

list

In [159]:
# print(salary_tuple[0])
salary_tuple[0] = 500

TypeError: 'tuple' object does not support item assignment

In [ ]:
# кортеж из одного элемента задается так:
t = ('one', )
type(t)

In [ ]:
# без запятой получится строка
type( ('one') )

In [164]:
# функция zip
salaries = (1000, 1200, 1300, 900, 800, 1000)
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']
salaries_by_names = zip(names, salaries)
# print(salaries_by_names)
print(tuple(salaries_by_names))

(('Robert', 1000), ('Jane', 1200), ('Liza', 1300), ('Richard', 900), ('John', 800))

# Циклы

## Цикл while

In [166]:
x = 5
while x != 0:
#     x = x -1
#     x -= 1
    print(x)

4
3
2
1
0

In [167]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
    else:
        print(x, '- нечетное число')
    x = x - 1

7 - нечетное число
6 - четное число
5 - нечетное число
4 - четное число
3 - нечетное число
2 - четное число
1 - нечетное число

In [168]:
# будем запрашивать целые числа до тех пор, пока не будет введен 0 и выведем сумму полученных чисел
sum_ = 0
a = ''
while a != 0:
    a = int(input())
    sum_ = sum_ + a  
sum_

5
6
11
19
0

41

## Цикл for

In [172]:
# итерация по строкам
company_name = 'Or an g e'
for letter in company_name:
    letter = letter.capitalize()
    print(letter)

O
R

A
N

G

E

In [174]:
# итерация по спискам
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for company in companies_capitalization:
#     print(company)
    print(f'{company[0]} capitalization is {company[1]}')

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

## break, pass, continue

In [176]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [177]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter, end='')

640Кб

In [182]:
print(1, end='')
print(2)

12

In [178]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter, end='')

640Кбдолжнохватитьдлялюбыхзадач.БиллГейтс(полегенде)

In [179]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter, end='')

640Кб должно хватить для любых задач. Билл Гейтс (по легенде)

### Функции range и enumerate

In [ ]:
range(10)
type(range(10))

In [ ]:
list(range(2, 10))

In [ ]:
for i in range(10):
    print(i)

In [ ]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

In [ ]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

In [184]:
# enumerate позволяет получить индекс каждого элемента
enumerate([1, 2, 3, 4, 5])
list(enumerate([1, 2, 3, 4, 5]))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [185]:
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for i, company in enumerate(companies_capitalization):
    print(i+1, company[0], 'capitalization is', company[1])

1 Orange capitalization is 1.3
2 Maxisoft capitalization is 1.5
3 Headbook capitalization is 0.8
4 Nicola capitalization is 2.2

## Попрактикуемся

Имеется структура данных cook_book, в которой хранится информация об ингредиентах блюд и их количестве в расчете на одну порцию и переменная, в которой хранится количество людей, на которых необходимо приготовить данные блюда:

In [187]:
cook_book = [
  ['салат',
      [
        ['картофель', 100, 'гр.'],
        ['морковь', 50, 'гр.'],
        ['огурцы', 50, 'гр.'],
        ['горошек', 30, 'гр.'],
        ['майонез', 70, 'мл.'],
      ]
  ],
  ['пицца',  
      [
        ['сыр', 50, 'гр.'],
        ['томаты', 50, 'гр.'],
        ['тесто', 100, 'гр.'],
        ['бекон', 30, 'гр.'],
        ['колбаса', 30, 'гр.'],
        ['грибы', 20, 'гр.'],
      ],
  ],
  ['фруктовый десерт',
      [
        ['хурма', 60, 'гр.'],
        ['киви', 60, 'гр.'],
        ['творог', 60, 'гр.'],
        ['сахар', 10, 'гр.'],
        ['мед', 50, 'мл.'],  
      ]
  ]
]

In [198]:
person = 9

In [199]:
for dish in cook_book:
    print(dish[0].capitalize(), ':', sep='')
    for ingredient in dish[1]:
        print(f'{ingredient[0]} {ingredient[1]*person}{ingredient[2]}')
    print()

Салат:
картофель 900гр.
морковь 450гр.
огурцы 450гр.
горошек 270гр.
майонез 630мл.

Пицца:
сыр 450гр.
томаты 450гр.
тесто 900гр.
бекон 270гр.
колбаса 270гр.
грибы 180гр.

Фруктовый десерт:
хурма 540гр.
киви 540гр.
творог 540гр.
сахар 90гр.
мед 450мл.

In [203]:
print(1, 2, 3, 4, 5, sep='\t')

1	2	3	4	5

Необходимо вывести пользователю список покупок необходимого количества ингредиентов для приготовления блюд на определенное число персон в следующем виде:

Салат:  
картофель, 500гр.  
морковь, 250гр.  
огурцы, 250гр.  
горошек, 150гр.  
майонез, 350мл.  

Пицца:  
сыр, 250гр.  
томаты, 250гр.  
тесто, 500гр.  
бекон, 150гр.  
колбаса, 150гр.  
грибы, 100гр.  

Фруктовый десерт:  
хурма, 300гр.  
киви, 300гр.  
творог, 300гр.  
сахар, 50гр.  
мед, 250мл.

## List comprehension

In [6]:
# Дана последовательность чисел. Мы хотим оставить только те, что делятся на 5
sequence = range(0, 40, 3)
set(sequence)

{0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39}

In [3]:
for i in range(1, len(rdhdr)):
    print(i)

1
2
3
4

In [7]:
# решение в лоб
for num in sequence:
    if num % 5 == 0:
        print(num)

0
15
30

In [8]:
# если хотим получить отфильтрованный лист, то будет даже так
filtered_sequence = []

for num in sequence:
    if num % 5 == 0:
        filtered_sequence.append(num)

print(filtered_sequence)

[0, 15, 30]

In [9]:
[num for num in sequence if num % 5 == 0]

[0, 15, 30]

In [10]:
[w for w in sequence if w % 5 == 0]

[0, 15, 30]

In [16]:
[x**2 for x in sequence if x % 5 == 0]
[x**2 if x % 2 == 0 for x in a]

SyntaxError: invalid syntax (<ipython-input-16-f69d543d1e5f>, line 2)

In [15]:
my_list = [(1,2), (3,4), (5,6)]
[(x,y) for x, y in my_list]

[(1, 2), (3, 4), (5, 6)]

Пример вычисления метрики из набора списков. Столбцы в каждой строке:
- дата
- номер счетчика
- количество визитов

Найдем среднее количество визитов по нашим данным

In [17]:
api_response = [
    ['2017-12-26', '777', 184],
    ['2017-12-27', '111', 146],
    ['2017-12-28', '777', 98],
    ['2017-12-29', '777', 206],
    ['2017-12-30', '111', 254],
    ['2017-12-31', '777', 89],
    ['2018-01-01', '111', 54],
    ['2018-01-02', '777', 68],
    ['2018-01-03', '777', 74],
    ['2018-01-04', '111', 89],
    ['2018-01-05', '777', 104],
    ['2018-01-06', '777', 99],
    ['2018-01-07', '777', 145],
    ['2018-01-08', '111', 184],
]

In [18]:

for element in api_response:
    print(element[2])

184
146
98
206
254
89
54
68
74
89
104
99
145
184

In [19]:
sum([x[2] for x in api_response])/len(api_response)

128.14285714285714

## Попрактикуемся

Имеется поток данных о ценах товаров (считайте, что цена всегда больше 0). Необходимо написать алгоритм определения минимального четного числа в этом потоке.

In [21]:
# sys_stdin сейчас просто название переменной
sys_stdin = [78, 68, 484, 3, 254, 90, 143, 78, 43, 42, 3053, 473, 5, 8593, 16, 3, 1454, 37, 96, 8547]

In [22]:
min([x for x in sys_stdin if x%2==0])

16

In [24]:
min([w for w in sys_stdin if w % 2 == 0])

16

In [25]:
sorted([x for x in sys_stdin if x%2==0])[0]

16

In [26]:
min([w for w in sys_stdin if w % 2 == 0])

16

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [28]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [29]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

{'Java', 'Scala', 'R', 'Python', 'SQL', 'Tableau', 'Git', 'Hadoop', 'SAS'}
{'Java', 'Scala', 'R', 'Python', 'SQL', 'Tableau', 'Git', 'Hadoop', 'SAS'}

In [30]:
# логическое И – что нужно знать и data-scientist и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

{'Git', 'SQL', 'Python'}
{'Git', 'SQL', 'Python'}

In [32]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
print(data_scientist_skills.difference(data_engineer_skills))
print(data_scientist_skills - data_engineer_skills)
# print(data_engineer_skills.difference(data_scientist_skills))
# print(data_engineer_skills - data_scientist_skills)

{'SAS', 'R', 'Tableau'}
{'SAS', 'R', 'Tableau'}

In [33]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
# print(data_scientist_skills.symmetric_difference(data_engineer_skills))
# print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

{'Java', 'Scala', 'R', 'Tableau', 'Hadoop', 'SAS'}
{'Java', 'Scala', 'R', 'Tableau', 'Hadoop', 'SAS'}

In [ ]:
# Из списка можно убрать все повторения просто обратив его в set!

In [37]:
list_ = ['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git']
my_set = set(list_)
res = list(my_set)
res

['Git', 'R', 'Python', 'SQL', 'Tableau', 'SAS']

# Словари

In [50]:
salaries = {
    'John': 1200,
    'Mary_1': 500,
    'Steven': 1000,
    'Liza': 1500, 
    'Mary_2': 400,
}

In [51]:
salaries

{'John': 1200, 'Mary': 400, 'Steven': 1000, 'Liza': 1500}

In [41]:
# обращение к элементу словаря
salaries['John']

1200

In [42]:
# удаляем элемент из словаря
del(salaries['Liza'])
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000}

In [43]:
# добавляем элемент в словарь
salaries['James'] = 2000
salaries

{'John': 1200, 'Mary': 500, 'Steven': 1000, 'James': 2000}

In [44]:
# изменяем значение по ключу
salaries['Mary'] = 2000
salaries

{'John': 1200, 'Mary': 2000, 'Steven': 1000, 'James': 2000}

In [47]:
# безопасно получаем значение по ключу
# salaries['Oleg']
# salaries.get('Oleg', 'Not Found')
salaries.get('Mary', 'Not Found')

2000

In [53]:
# проверка на наличие ключа в словаре
recruit = 'Amanda'

if recruit in salaries:
    print('Значение для ключа уже существует')
else:
    print('Добавляю новый ключ')
    salaries[recruit] = 2200

print(salaries)

Значение для ключа уже существует
{'John': 1200, 'Mary': 400, 'Steven': 1000, 'Liza': 1500, 'Amanda': 2200}

In [55]:
# Можно использовать метод setdefault
# setdefault не изменяет значение, если ключ уже был в словаре

# salaries.setdefault('Mary', 3000)
# salaries
salaries.setdefault('Paul', 3000)
salaries

{'John': 1200,
 'Mary': 400,
 'Steven': 1000,
 'Liza': 1500,
 'Amanda': 2200,
 'Paul': 3000}

In [56]:
# перейдем к более сложному словарю
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [59]:
staff_dict['Robert']['bonus']

200

In [60]:
staff_dict['Oleg'] = {'salary': 1000000, 'bonus': 300}
staff_dict

{'Robert': {'salary': 800, 'bonus': 200},
 'Jane': {'salary': 200, 'bonus': 300},
 'Liza': {'salary': 1300, 'bonus': 200},
 'Richard': {'salary': 500, 'bonus': 1200},
 'Oleg': {'salary': 1000000, 'bonus': 300}}

In [63]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
# print(staff_dict.keys())
# print(staff_dict.values())
# print(staff_dict.items())

# print(list(staff_dict.keys()))
# print(list(staff_dict.values()))
# print(list(staff_dict.items()))

dict_items([('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})])
[('Robert', {'salary': 800, 'bonus': 200}), ('Jane', {'salary': 200, 'bonus': 300}), ('Liza', {'salary': 1300, 'bonus': 200}), ('Richard', {'salary': 500, 'bonus': 1200}), ('Oleg', {'salary': 1000000, 'bonus': 300})]

In [64]:
# итерация по словарям
# так бы было без цикла
print("Robert's salary:", staff_dict['Robert']['salary'])
print("Jane's salary:", staff_dict['Jane']['salary'])
print("Richard's salary:", staff_dict['Richard']['salary'])

Robert's salary: 800
Jane's salary: 200
Richard's salary: 500

In [69]:
for person in staff_dict:
    print(person)

Robert
Jane
Liza
Richard
Oleg

In [70]:
for key in staff_dict.keys():
    print(key)

Robert
Jane
Liza
Richard
Oleg

In [68]:
for value in staff_dict.values():
    print(value)

{'salary': 800, 'bonus': 200}
{'salary': 200, 'bonus': 300}
{'salary': 1300, 'bonus': 200}
{'salary': 500, 'bonus': 1200}
{'salary': 1000000, 'bonus': 300}

In [73]:
for k, v in staff_dict.items():
    print(k)
    print(v)

Robert
{'salary': 800, 'bonus': 200}
Jane
{'salary': 200, 'bonus': 300}
Liza
{'salary': 1300, 'bonus': 200}
Richard
{'salary': 500, 'bonus': 1200}
Oleg
{'salary': 1000000, 'bonus': 300}

In [74]:
for i, person in enumerate(staff_dict):
    print(i+1, person)

1 Robert
2 Jane
3 Liza
4 Richard
5 Oleg

In [81]:
# используем цикл
for name, info in staff_dict.items():
#     print(info)
    print(person, "'s salary: ", info['salary'], sep='')

Oleg's salary: 800
Oleg's salary: 200
Oleg's salary: 1300
Oleg's salary: 500
Oleg's salary: 1000000

In [82]:
# добавим уровень з/п
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}
for person, info in staff_dict.items():
#     print(person)
    if info['salary'] > 1000:
        info['status'] = 'above average'
    else:
        info['status'] = 'below average'
#     print(f"{person}'s salary: {info['salary']} ({status})")

staff_dict

{'Robert': {'salary': 800, 'bonus': 200, 'status': 'below average'},
 'Jane': {'salary': 200, 'bonus': 300, 'status': 'below average'},
 'Liza': {'salary': 1300, 'bonus': 200, 'status': 'above average'},
 'Richard': {'salary': 500, 'bonus': 1200, 'status': 'below average'}}

In [83]:
# функция zip
categories = ['Еда', 'Авто', 'Политика']
audience = [100, 200, 300]

categories_dict = dict(zip(categories, audience))
print(categories_dict)

{'Еда': 100, 'Авто': 200, 'Политика': 300}

## Попрактикуемся
Для каждого источника посчитайте ROI (revenue / cost - 1)

In [85]:
results = {
    'vk': {'revenue': 103, 'cost': 98},
    'yandex': {'revenue': 179, 'cost': 153},
    'facebook': {'revenue': 103, 'cost': 110},
    'adwords': {'revenue': 35, 'cost': 34},
    'twitter': {'revenue': 11, 'cost': 24},
}

In [86]:
for company, init in results.items():
    print(company, ' ROI: ', (init['revenue']/init['cost']-1), sep='')

vk ROI: 0.05102040816326525
yandex ROI: 0.16993464052287588
facebook ROI: -0.0636363636363636
adwords ROI: 0.02941176470588225
twitter ROI: -0.5416666666666667

In [87]:
for net in results.values():
    print(net['revenue']/net['cost'] -1)

0.05102040816326525
0.16993464052287588
-0.0636363636363636
0.02941176470588225
-0.5416666666666667

In [88]:
for k,v  in results.items():
    v['roi'] = v['revenue'] / v['cost'] - 1
results

{'vk': {'revenue': 103, 'cost': 98, 'roi': 0.05102040816326525},
 'yandex': {'revenue': 179, 'cost': 153, 'roi': 0.16993464052287588},
 'facebook': {'revenue': 103, 'cost': 110, 'roi': -0.0636363636363636},
 'adwords': {'revenue': 35, 'cost': 34, 'roi': 0.02941176470588225},
 'twitter': {'revenue': 11, 'cost': 24, 'roi': -0.5416666666666667}}

In [90]:
for net in results.values():
    net['ROI'] = (net['revenue']/net['cost'] -1)
results

{'vk': {'revenue': 103,
  'cost': 98,
  'roi': 0.05102040816326525,
  'ROI': 0.05102040816326525},
 'yandex': {'revenue': 179,
  'cost': 153,
  'roi': 0.16993464052287588,
  'ROI': 0.16993464052287588},
 'facebook': {'revenue': 103,
  'cost': 110,
  'roi': -0.0636363636363636,
  'ROI': -0.0636363636363636},
 'adwords': {'revenue': 35,
  'cost': 34,
  'roi': 0.02941176470588225,
  'ROI': 0.02941176470588225},
 'twitter': {'revenue': 11,
  'cost': 24,
  'roi': -0.5416666666666667,
  'ROI': -0.5416666666666667}}

## Dict comprehension
Похоже на  list comprehension

In [94]:
list_ = [x for x in range(10)]
list_2 = [x**2 for x in range(10)]

SyntaxError: invalid syntax (<ipython-input-97-d8a0a5377fd1>, line 1)

In [98]:
results = [('date', '2018-01-01'), ('counter', '777'), ('visits', 154)]

In [99]:
{metric: value for (metric, value) in results}

{'date': '2018-01-01', 'counter': '777', 'visits': 154}

In [101]:
cook_book = {
  'салат': [
     {'ingridient_name': 'сыр', 'quantity': 50, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'огурцы', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'маслины', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'оливковое масло', 'quantity': 20, 'measure': 'мл'},
     {'ingridient_name': 'салат', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'перец', 'quantity': 20, 'measure': 'гр'}
    ],
  'пицца': [
     {'ingridient_name': 'сыр', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'колбаса', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'бекон', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'оливки', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'тесто', 'quantity': 100, 'measure': 'гр'},   
    ],
  'лимонад': [
     {'ingridient_name': 'лимон', 'quantity': 1, 'measure': 'шт'},
     {'ingridient_name': 'вода', 'quantity': 200, 'measure': 'мл'},
     {'ingridient_name': 'сахар', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'лайм', 'quantity': 20, 'measure': 'гр'},    
    ]
}

In [102]:
person = 5

In [119]:
shop_dict = {}

for dish in cook_book.values():
#     print(dish)
    for ingr in dish:
#         print(ingr)
#         print(ingr['ingridient_name'])
#         shop_dict['Ingredient_name'] = {}
        if (ingr['ingridient_name'], ingr['measure']) not in shop_dict:
            shop_dict[(ingr['ingridient_name'], ingr['measure'])] = {'quantity': ingr['quantity'] * person}
        else:
            shop_dict[(ingr['ingridient_name'], ingr['measure'])]['quantity'] += ingr['quantity'] * person

        

for name, q in shop_dict.items():
    print(f'{name[0]} {q["quantity"]}{name[1]}')

сыр 350гр
томаты 200гр
огурцы 100гр
маслины 50гр
оливковое масло 100мл
салат 50гр
перец 100гр
колбаса 150гр
бекон 150гр
оливки 50гр
тесто 500гр
лимон 5шт
вода 1000мл
сахар 50гр
лайм 100гр