Задание

Дан файл HR.csv с данными по опросу уровня удовлетворенности сотрудниками работой.

Файл доступен тут -

https://drive.google.com/file/d/1INgo03nal-vwFJe7Lec5vOUtOwfJdUr1/view?usp=sharing

Признаки:

1. satisfaction_level - Уровень удовлетворенности работой

2. Last_evaluation - Время с момента последней оценки в годах

3. number_projects - Количество проектов, выполненных за время работы

4. average_monthly_hours - Среднее количество часов на рабочем месте в месяц

5. time_spend_company - Стаж работы в компании в годах

6. work_accident - Происходили ли несчастные случаи на рабочем месте с сотрудником

7. left - уволился ли сотрудник

8. promotion_last_5years - повышался ли сотрудник за последние пять лет

9. department - отдел в котором работает сотрудник

10. salary - относительный уровень зарплаты

Требуется выполнить следующее задание:

1 Загрузите файл HR.csv в pandas dataframe - 5 Баллов

In [1]:
import pandas as pd
# import numpy as np
from scipy import stats as st

In [2]:
df = pd.read_csv('HR.csv')
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   department             14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

#### Пустых значений нет - это хорошо.

2 Рассчитайте основные статистики для переменных
(среднее,медиана,мода,мин/макс,сред.отклонение) - 
10 Баллов

In [15]:
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

#### Изучим уровень удовлетворенности работой

In [78]:
print(f'Уровень удовлетворенности работой:')
print(f' Максимальный {df.satisfaction_level.max()}')
print(f' Минимальный {df.satisfaction_level.min()}')
print(f' Размах {df.satisfaction_level.max() - df.satisfaction_level.min()}')
print(f' Среднеарифметическое {df.satisfaction_level.mean()}')
print(f' Мода {df.satisfaction_level.mode()[0]}')
print(f' Медиана {df.satisfaction_level.median()}')
print(f' СКО {df.satisfaction_level.std()}')

Уровень удовлетворенности работой:
 Максимальный 1.0
 Минимальный 0.09
 Размах 0.91
 Среднеарифметическое 0.6128335222348166
 Мода 0.1
 Медиана 0.64
 СКО 0.2486306510611418

3  Рассчитайте и визуализировать корреляционную матрицу для
количественных переменных.

Определите две самые скоррелированные и две наименее
скоррелированные переменные - 10 Баллов

4 Рассчитайте сколько сотрудников работает в каждом
департаменте - 5 Баллов

In [4]:
df['department'].value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: department, dtype: int64

5 Показать распределение сотрудников по зарплатам - 5 Баллов

In [5]:
df['salary'].value_counts()

low       7316
medium    6446
high      1237
Name: salary, dtype: int64

6 Показать распределение сотрудников по зарплатам в каждом
департаменте по отдельности - 5 Баллов

In [71]:
df.groupby('department')['salary'].value_counts()

department   salary
IT           low        609
             medium     535
             high        83
RandD        medium     372
             low        364
             high        51
accounting   low        358
             medium     335
             high        74
hr           medium     359
             low        335
             high        45
management   high       225
             medium     225
             low        180
marketing    low        402
             medium     376
             high        80
product_mng  low        451
             medium     383
             high        68
sales        low       2099
             medium    1772
             high       269
support      low       1146
             medium     942
             high       141
technical    low       1372
             medium    1147
             high       201
Name: salary, dtype: int64

7 Проверить гипотезу, что сотрудники с высоким окладом
проводят на работе больше времени, чем сотрудники с низким
окладом - 10 Баллов

#### H0 - Сотрудники с высоким окладом проводят на работе столько же или больше времени, чем сотрудники с низким окладом
#### H1 - Сотрудники с высоким окладом проводят на работе меньше времени, чем сотрудники с низким окладом

Тест нужен односторонний, т.к. нас интересует только неравенство в меньшую сторону.

In [10]:
alpha = 0.05  # Уровень значимости
result = st.ttest_ind(df[df['salary'] == 'high']['average_montly_hours'], df[df['salary'] == 'low']['average_montly_hours'], equal_var=False)
print(result)
if (result.pvalue / 2 < alpha):
    print('Отвергаем нулевую гипотезу, Сотрудники с высоким окладом проводят на работе меньше времени, чем сотрудники с низким окладом')
else:
    print('Не отвергаем нулевую гипотезу. С уверенностью 95% можем сказать, что сотрудники с высоким окладом проводят на работе столько же или больше времени, чем сотрудники с низким окладом')

Ttest_indResult(statistic=-0.7624331665385475, pvalue=0.4459045542257889)
Не отвергаем нулевую гипотезу. С уверенностью 95% можем сказать, что сотрудники с высоким окладом проводят на работе столько же или больше времени, чем сотрудники с низким окладом

8 Рассчитать следующие показатели среди уволившихся и не
уволившихся сотрудников (по отдельности): - 10 Баллов

● Доля сотрудников с повышением за последние 5 лет

● Средняя степень удовлетворенности

● Среднее количество проектов

In [72]:
df[df.left == 1][df.promotion_last_5years == 1]['promotion_last_5years'].count() / df[df.left == 1]['left'].count()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.005320638476617194

In [73]:
df[df.left == 0][df.promotion_last_5years == 1]['promotion_last_5years'].count() /df[df.left == 0]['left'].count()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

0.026251312565628283

In [74]:
df[df.left == 1]['satisfaction_level'].mean()

0.44009801176140917

In [75]:
df[df.left == 0]['satisfaction_level'].mean()

0.666809590479516

In [76]:
df[df.left == 1]['number_project'].mean()

3.8555026603192384

In [77]:
df[df.left == 0]['number_project'].mean()

3.786664333216661

9 Разделить данные на тестовую и обучающую выборки
Построить модель LDA, предсказывающую уволился ли
сотрудник на основе имеющихся факторов (кроме department и
salary)

Оценить качество модели на тестовой выборки - 20 Баллов

10 Загрузить jupyter notebook с решение на github и прислать ссылку - 5 Баллов
 
Итого - максимум 85 баллов

Для зачета необходимо набрать минимум 55